/aletheia.lyx~
/aletheia.pdf
/aletheia.sgml
/aletheia.xml
/#aletheia.lyx#
/aletheia.html.LyXconv
/aletheia.ps
/aletheia.tex
/aletheia.txt
/aletheia.dvi
/tutorial.lyx~
/tutorial.pdf
/tutorial.tex
/tmp/
/#tutorial.lyx#
